/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Quicksand;
  src: url("Quicksand.ttf");
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

p{
  font-family: Quicksand;
  font-weight: 500;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: auto;
  padding: 20px;
}

header {
  background: #1d3557;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav a {
  color: #f1faee;
  text-decoration: none;
}

.hero {
  background: #457b9d;
  color: #fff;
  padding: 60px 0;
  text-align: center;
}

.hero .btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: #e63946;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.section {
  padding: 40px 0;
}

.section h3 {
  margin-bottom: 20px;
  color: #1d3557;
}

.section ul {
  list-style-type: none;
}

footer {
  background: #1d3557;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

.splash-banner{
  background-image: url("./images/banner-splash.webp");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: bottom center;
}

.team-carousel{
  display: grid;
}

@media screen and (max-width: 400px){
  .team-carousel{
    grid-template-columns: 1fr;
  }

  .team-carousel img{
    width: 100%;
    height: auto;
    margin: 10vh 0px 2vh 0px;
  }
}
